* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
  }

  .container{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #8A0000,
    #a70000,
    #c50000,
    #e60000,
    #ff0000);
  }

  .nomeEmpresa h1{
    color: #ffffff;
  }


  .links{
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .links a{
    color: white;
    text-decoration: none;
  }

  .links a:hover{
    text-decoration: underline;
  }

  .links a:focus {
    outline: 2px solid white;
  }






    .usuario{
        display: flex;
        align-items: center;
    }



  .usuario-box{
    display: flex;
    height: 40px;
    width: 100%;
    max-width: 375px;
    justify-content: space-between;
    border: 1px solid #000000;
  }

  .icone-usuario{
    color: white;
    height: 40px;
  }

  .nome-usuario{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #ffffff;
    color: #000000;
    width: 325px;
    align-items: center;
    justify-content: center;
  }

  .botao-sair{
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    background-color: #a70000;
    cursor: pointer;
    border: none;
    border-left: 1px solid #8A0000;
    width: 50px;
  }

  .botao-sair:hover{
    color: #000000;
    background-color: #ff4d4d;
  }





  /*ALERTAS*/

  .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conteudo-principal h1{
    padding-top: 30px;
  }

  .conteudo{
    border: 2px solid black;
    width: 150vh;
    height: 600px;
    margin-top: 50px;
  }



/*RESPONSIVIDADE*/
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
        .usuario-box {
          width: 100%;
          flex-direction: column;
          height: auto;
        }
        .nome-usuario {
          width: 100%;
          padding: 10px;
        }
        .botao-sair {
          width: 100%;
        }
      }